.c4container {
  margin: 0 auto;
  max-width: 540px;
  width: 99vw;
  background: rgba(16, 16, 16, 0.93);
  border-radius: 22px;
  padding: 1.8rem 0.7rem 1.1rem 0.7rem;
  box-shadow: 0 0 40px #222a, 0 0 6px var(--color-shadow);
}

.turn {
  color: var(--color-warning);
  font-size: 1.1rem;
  margin-bottom: 0.8rem;
  text-align: center;
}

.resetBtn {
  margin: 1.1rem auto 0 auto;
  margin-bottom: 1.5em;
  display: block;
  text-align: center;
}

.winner {
  color: var(--color-accent);
  text-align: center;
  font-weight: bold;
  font-size: 1.45rem;
  margin-top: 0.7rem;
}

@media (max-width: 700px) {
  .c4container {
    padding: 1rem 0.1rem 1rem 0.1rem;
  }
  .turn,
  .winner {
    font-size: 1rem;
  }
}
