.footer {
  text-align: center;
  color: var(--color-warning);
  padding: var(--padding-sm);
  background: rgba(24, 24, 24, 0.75);
  border-top: var(--border-width) solid var(--color-accent);
  font-size: 0.93rem;
  letter-spacing: 1px;
  margin-top: var(--gap-lg);
  font-family: var(--font-family-main);
  position: relative;
  z-index: 2;
}
@media (max-width: 700px) {
  .footer {
    font-size: 0.8rem;
  }
}
