.wrapper {
  position: relative;
  font-family: monospace;
}
.knob-outer {
  user-select: none;
  position: relative;
  width: 230px;
  height: 230px;
  border-radius: 100%;
  background-color: transparent;
}
.knob-base {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 220px;
  height: 220px;
  margin: -110px 0 0 -110px;
  border-radius: 100%;
  box-shadow:
    inset 0 3px 10px rgba(0,0,0,0.6),
    0 2px 20px rgba(255,255,255,0.1) inset;
  background: radial-gradient(ellipse at center, #333 0%, #111 100%);
}
.knob-middle {
  z-index: 4;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 140px;
  height: 140px;
  margin: -70px 0 0 -70px;
  border-radius: 100%;
  background: #111;
}
.knob-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 120px;
  height: 120px;
  margin: -60px 0 0 -60px;
  border-radius: 100%;
  background: #222;
}
.knob-core {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -50px;
  border-radius: 100%;
  box-shadow:
    inset 0 2px 3px rgba(255,255,255,0.3),
    0 8px 20px rgba(0,0,0,0.9);
  background: #333;
}
.control {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.knob-base .control label {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 70px;
  margin-top: -35px;
  transform-origin: 0% 50%;
  cursor: pointer;
}
.knob-base .control label span {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  font-weight: bold;
  font-size: 15px;
  line-height: 70px;
  text-align: center;
  color: #0f0;
  text-shadow: 0 0 5px #0f0;
}
.knob-base .control label:nth-child(1) { transform: rotate(-90deg);}
.knob-base .control label:nth-child(1) span { transform: rotate(90deg);}
.knob-base .control label:nth-child(2) { transform: rotate(-30deg);}
.knob-base .control label:nth-child(2) span { transform: rotate(30deg);}
.knob-base .control label:nth-child(3) { transform: rotate(30deg);}
.knob-base .control label:nth-child(3) span { transform: rotate(-30deg);}
.knob-base .control label:nth-child(4) { transform: rotate(90deg);}
.knob-base .control label:nth-child(4) span { transform: rotate(-90deg);}
.knob-base .control label:nth-child(5) { transform: rotate(150deg);}
.knob-base .control label:nth-child(5) span { transform: rotate(-150deg);}
.knob-base .control label:nth-child(6) { transform: rotate(210deg);}
.knob-base .control label:nth-child(6) span { transform: rotate(-210deg);}
.knob-base .control input {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
.pointer {
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  height: 100px;
  margin-top: -50px;
  transform-origin: 0% 50%;
  transition: transform 0.5s;
}
.pointer span {
  position: absolute;
  top: 0;
  left: 15px;
  width: 100px;
  height: 100px;
  background: radial-gradient(
    ellipse at center,
    rgba(0,255,0,0.8) 0%,
    rgba(0,255,0,0.2) 42%,
    rgba(0,255,0,0) 72%
  );
}
.marker {
  z-index: 6;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  height: 12px;
  margin-top: -6px;
  transform-origin: 0% 50%;
  transition: transform 0.5s;
}
.marker span {
  position: absolute;
  top: 0;
  left: 30px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: #0f0;
  box-shadow: 0 0 10px #0f0;
}
.status {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5;
}
.off-light {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #333;
  margin-bottom: 8px;
  transition:
    background-color 0.3s,
    box-shadow 0.3s;
}
/* Liners and Dividers */
.knob-base hr.divider {
  z-index: 1;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 0;
  margin-top: -1px;
  border-width: 1px 0;
  border-style: solid;
  border-top-color: #3c3d3f;
  border-bottom-color: #666769;
}
.knob-base hr.divider:nth-child(1) { transform: rotate(-60deg);}
.knob-base hr.divider:nth-child(2) { transform: rotate(60deg);}
