.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
  width: 100%;
}

.neonTitle {
  font-family: var(--font-family-main);
  font-size: 2.6rem;
  letter-spacing: 3px;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 10px #fff, 0 0 18px #39ff14, 0 0 26px #00eaff,
    0 0 45px #ff0080;
  animation: pulse 1.6s infinite;
  margin-bottom: var(--margin-lg);
}

@keyframes pulse {
  0%,
  100% {
    text-shadow: 0 0 8px #39ff14, 0 0 16px #00eaff, 0 0 32px #ff0080,
      0 0 40px #fff;
    transform: scale(1);
  }
  50% {
    text-shadow: 0 0 20px #fff, 0 0 32px #39ff14, 0 0 64px #00eaff,
      0 0 80px #ff0080;
    transform: scale(1.05);
  }
}

.subtitle {
  color: var(--color-warning);
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 1.4rem;
  text-shadow: 0 0 8px #222, 0 0 10px #ffe800;
}

@media (max-width: 700px) {
  .neonTitle {
    font-size: 1.3rem;
    padding: 0 0.5rem;
  }

  .subtitle {
    color: var(--color-warning);
    font-size: 1rem;
    text-align: center;
    padding: var(--padding-sm);
    margin-bottom: 1.4rem;
    text-shadow: 0 0 8px #222, 0 0 10px #ffe800;
  }
}
